parameters:
    level: max
    tmpDir: build/phpstan
    paths:
        - src
        - tests
    ignoreErrors:
        - identifier: missingType.iterableValue
        -
            identifier: method.nonObject
            paths:
                - tests/EvolvingWrapperTestCase.php
                - tests/WrapperTestCase.php
